<div class="formular-style">
    <h3 id="headline9">Feedback</h3>
    <spann id="text10">Geben Sie Ihr Feedback im Kommentarfeld</spann>
    <form class="newForm" action="http://gruppe-80.developerakademie.com/Markus%20Php/send_mailms.php" method="POST">
        <label class="space" id="text11">Vorname:</label>
        <input name="vorname" placeholder="Ihr Vorname">
        <label class="space" id="text12">Nachname:</label>
        <input name="nachname" placeholder="Ihr Nachname">
        <label class="space" id="text13">Telefon:</label>
        <input type="tel" placeholder="Ihre Telefonnummer">
        <label class="space" id="text14">E-Mail:</label>
        <input type="email" placeholder="Ihre E-Mail Adresse">
        <label class="space" id="text15">
            Kommentar:
        </label>
        <textarea name="message" placeholder="Nachricht an Uns"></textarea>
        <div class="formular-button">
            <button class="button" type="submit" id="button3">Mail Senden</button>
        </div>
    </form>
</div>